<section class="usa-hero">
  <div class="grid-container">
    <div class="position-relative height-mobile">
      <div
        class="maxw-tablet margin-top-5 desktop:margin-top-10 padding-5 position-absolute bottom-0 right-0 semi-transparent-background"
      >
        <h1 class="usa-hero__heading">
          <span class="usa-hero__heading--alt text-uppercase">Reflections on Restoration</span>
        </h1>
        <p>
          The Gulf Coast Ecosystem Restoration Council (RESTORE Council) is commemorating 15 years since the Deepwater
          Horizon oil spill with a month-long reflection on its progress.
        </p>
        <a class="usa-button usa-button--outline usa-button--inverse" href="/reflections-on-restoration/">Learn more</a>
      </div>
    </div>
  </div>
</section>
