{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout opacity-80 maxw-tablet margin-top-15 margin-left-auto bg-primary-dark text-white">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">REFLECTIONS ON RESTORATION</span>
      </h1>
      <p>The Gulf Coast Ecosystem Restoration Council (RESTORE Council) is commemorating 15 years since the Deepwater Horizon oil spill with a month-long reflection on its progress.</p>
      <a class="usa-button usa-button_hero no-hover" href="/reflections-on-restoration/">Learn more</a>
    </div>
  </div>
</section>
