{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section bg-base-lightest text-primary">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a
        href="/"
        class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          {% image_with_class  "./_img/who-we-are.jpeg" "usa-media-block__img circular-image" "width-4 desktop:width-10 margin-right-2" "alt text" %}
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/">
          <h3 class="usa-graphic-list__heading">Who We Are</h3>
          </a>
          <p>
            We are dedicated to the revitalization and protection of the natural and economic resources of the Gulf Coast.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a
        href="/"
        class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          {% image_with_class  "./_img/what-we-do.jpeg" "usa-media-block__img circular-image" "width-4 desktop:width-10 margin-right-2" "alt text" %}
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/">
          <h3 class="usa-graphic-list__heading">What We Do</h3>
          </a>
          <p>
            We collaborate with State and Federal partners to implement science-based projects that restore critical habitats, improve water quality, and enhance coastal resilience across the Gulf Coast.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a
        href="/"
        class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          {% image_with_class  "./_img/story-map.jpeg" "usa-media-block__img circular-image" "width-4 desktop:width-10 margin-right-2" "alt text" %}
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/">
          <h3 class="usa-graphic-list__heading">View Projects</h3>
          </a>
          <p>
            Comprehensive, science-based reports and strategic plans that outline restoration goals, project funding allocations, and progress assessments for ecosystem recovery along the Gulf Coast.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a
        href="/"
        class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          {% image_with_class  "./_img/resources.jpeg" "usa-media-block__img circular-image" "width-4 desktop:width-10 margin-right-2" "alt text" %}
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/">
          <h3 class="usa-graphic-list__heading">Resources</h3>
          </a>
          <p>
            Learn about RESTORE-funded projects in an interactive map and dashboard.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
