{% comment %} Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight. {% endcomment %}

<div class="grid-container padding-top-4">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-12">
      <h2 class="font-heading-xl padding-y-2 text-primary">Featured topics</h2>
    </div>
  </div>
  <ul class="usa-card-group padding-bottom-6 tablet-lg:grid-col-12">
        <li class="usa-card usa-card--flag flex-1">
            <div class="usa-card__container">
                <div class="usa-card__header text-primary">
                    <h4 class="usa-card__heading">Who We Are</h4>
                </div>
                <div class="usa-card__media">
                    <div class="usa-card__img">
                    <a
                    href="/people/council-members/"
                    >
                    <img
                        src="/img/who-we-are.jpg"
                        class="usa-media-block__img"
                        alt="{{ alt }}"
                        />
                    </a>
                    </div>
                </div>
                <div class="usa-card__body">
                    <p>We are dedicated to the revitalization and protection of the natural
                        and economic resources of the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer">
                <a href="/people/council-members/" class="usa-button">Council Members</a>
                </div>
            </div>
        </li>
        <li class="usa-card usa-card--flag flex-1">
            <div class="usa-card__container">
                <div class="usa-card__header text-primary">
                    <h4 class="usa-card__heading">What We Do</h4>
                </div>
                <div class="usa-card__media">
                    <div class="usa-card__img">
                    <a
                    href="/comprehensive-plan/"
                    >
                    <img
                        src="/img/what-we-do.jpg"
                        class="usa-media-block__img"
                        alt="{{ alt }}"
                        />
                    </div>
                </div>
                <div class="usa-card__body">
                    <p>We collaborate with State and Federal partners to implement
                        science-based projects that restore critical habitats, improve water
                        quality, and enhance coastal resilience across the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer">
                <a href="/comprehensive-plan/" class="usa-button">Restoration Planning</a>
                </div>
            </div>
        </li>
        <li class="usa-card usa-card--flag flex-1">
            <div class="usa-card__container">
                <div class="usa-card__header text-primary">
                    <h4 class="usa-card__heading">View Projects</h4>
                </div>
                <div class="usa-card__media">
                    <div class="usa-card__img">
                    <a
                    href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676"
                    >
                    <img
                        src="/img/story-map.jpg"
                        class="usa-media-block__img"
                        alt="{{ alt }}"
                        />
                    </div>
                </div>
                <div class="usa-card__body">
                    <p>Comprehensive, science-based reports and strategic plans that
                        outline restoration goals, project funding allocations, and progress
                        assessments for ecosystem recovery along the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer">
                <a href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676" class="usa-button">Our Project Dashboard</a>
                </div>
            </div>
        </li>
        <li class="usa-card usa-card--flag flex-1">
            <div class="usa-card__container">
                <div class="usa-card__header text-primary">
                    <h4 class="usa-card__heading">Resources</h4>
                </div>
                <div class="usa-card__media">
                    <div class="usa-card__img">
                    <a
                    href="/resources/reports-plans/"
                    >
                    <img
                        src="/img/resources.jpg"
                        class="usa-media-block__img"
                        alt="{{ alt }}"
                        />
                    </div>
                </div>
                <div class="usa-card__body">
                    <p>Learn about RESTORE-funded projects in an interactive map and
                        dashboard.</p>
                </div>
                <div class="usa-card__footer">
                <a href="/resources/reports-plans/" class="usa-button">View Reports</a>
                </div>
            </div>
        </li>
    </ul>
</div>
