{% comment %} Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight. {% endcomment %}

<section class="usa-graphic-list usa-section bg-base-lightest text-primary">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a
          href="/people/council-members/"
          class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          <img
            src="/img/who-we-are.jpeg"
            class="usa-media-block__img circular-image"
            alt=""
          />
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/people/council-members/">
            <h3 class="usa-graphic-list__heading">Who We Are</h3>
          </a>
          <p>
            We are dedicated to the revitalization and protection of the natural
            and economic resources of the Gulf Coast.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a
          href="/comprehensive-plan/"
          class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          <img
            src="/img/what-we-do.jpeg"
            class="usa-media-block__img circular-image"
            alt=""
          />
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/comprehensive-plan/">
            <h3 class="usa-graphic-list__heading">What We Do</h3>
          </a>
          <p>
            We collaborate with State and Federal partners to implement
            science-based projects that restore critical habitats, improve water
            quality, and enhance coastal resilience across the Gulf Coast.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <a
          href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676"
          class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          <img
            src="/img/story-map.jpeg"
            class="usa-media-block__img circular-image"
            alt=""
          />
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a
            href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676"
          >
            <h3 class="usa-graphic-list__heading">View Projects</h3>
          </a>
          <p>
            Comprehensive, science-based reports and strategic plans that
            outline restoration goals, project funding allocations, and progress
            assessments for ecosystem recovery along the Gulf Coast.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <a
          href="/resources/reports-plans"
          class="display-inline-flex flex-align-center maxw-card maxh-card margin-right-2"
        >
          <img
            src="/img/resources.jpeg"
            class="usa-media-block__img circular-image"
            alt=""
          />
        </a>
        <div class="usa-media-block__body text-no-underline">
          <a href="/resources/reports-plans">
            <h3 class="usa-graphic-list__heading">Resources</h3>
          </a>
          <p>
            Learn about RESTORE-funded projects in an interactive map and
            dashboard.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
