<a
  href="/"
  class="display-inline-flex flex-fill desktop:flex-auto flex-align-center desktop:margin-y-2 text-white text-no-underline"
>
  <img
    src="/img/logo.png"
    class="margin-left-2 margin-right-2 display-block width-4 desktop:margin-left-0 desktop:width-10"
    alt="{{site.title}}"
  />
  <span>
    <span class="display-block font-sans-md desktop:font-sans-lg text-bold"
      >{{ site.title }}</span
    >
    <span class="display-none desktop:display-block font-sans-xs"
      >The official website of the Gulf Coast Ecosystem Restoration
      Council</span
    >
  </span>
</a>
