<aside
  id="section-nav"
  class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4"
>
  <nav>
      {% assign navPages = collections.all | eleventyNavigation %}
      {% for entry in navPages %}
        {% if entry.children.length %}
          {% for child in entry.children %}

            {% if child.parent == eleventyNavigation.parent %}
              <a href="{{ child.url }}">{{child.title}}</a><br />
            {% endif %}

          {% endfor %}
        {% endif %}
      {% endfor %}
  </nav>
</aside>
