<div class="bg-primary-light padding-y-6">
  <div class="grid-container">
    <div class="flex-align-center text-primary-dark grid-row grid-gap-2">
      <div class="grid-col-12 tablet:grid-col-auto">
        <h2 class="font-heading-xl margin-y-0">Stay in touch</h2>
        <p class="usa-intro">
          Don't miss out on the latest and greatest from the RESTORE Council.
          Sign up now and get our latest updates straight in your inbox.
        </p>
      </div>
      <div class="grid-col-12 desktop:grid-col-fill">
        <a
          href="{{ site.subscribe }}"
          class="usa-button usa-button--outline text-primary-dark"
          >Subscribe</a
        >
      </div>
    </div>
  </div>
</div>
