<div class="grid-container padding-top-4">
    <ul class="usa-card-group">
        <li class="usa-card grid-col flex-row">
            <div class="usa-card__container">
                <div class="usa-card__header text-center text-primary">
                    <h4 class="usa-card__heading">Who We Are</h4>
                </div>
                <div class="usa-card__media padding-2">
                    <a
                    href="/people/council-members/"
                    >
                    <img
                        src="/img/who-we-are.jpeg"
                        class="usa-media-block__img padding-1 margin-0 circular-image border-1 border-primary-light"
                        alt="{{ alt }}"
                        />
                    </div>
                <div class="usa-card__body text-center">
                    <p>We are dedicated to the revitalization and protection of the natural
                        and economic resources of the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer text-center">
                <a href="/people/council-members/" class="usa-button">Meet our Council Members</a>
                </div>
            </div>
        </li>
        <li class="usa-card grid-col flex-row">
            <div class="usa-card__container">
                <div class="usa-card__header text-center text-primary">
                    <h4 class="usa-card__heading">What We Do</h4>
                </div>
                <div class="usa-card__media padding-2">
                <a
                href="/comprehensive-plan/"
                >
                <img
                    src="/img/what-we-do.jpeg"
                    class="usa-media-block__img padding-1 margin-0 circular-image border-1 border-primary-light"
                    alt="{{ alt }}"
                    />
                </div>
                <div class="usa-card__body text-center">
                    <p>We collaborate with State and Federal partners to implement
                        science-based projects that restore critical habitats, improve water
                        quality, and enhance coastal resilience across the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer text-center">
                <a href="/comprehensive-plan/" class="usa-button">Read about Restoration Planning</a>
                </div>
            </div>
        </li>
        <li class="usa-card grid-col flex-row">
            <div class="usa-card__container">
                <div class="usa-card__header text-center text-primary">
                    <h4 class="usa-card__heading">View Projects</h4>
                </div>
                <div class="usa-card__media padding-2">
                <a
                href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676"
                >
                <img
                    src="/img/story-map.jpeg"
                    class="usa-media-block__img padding-1 margin-0 circular-image border-1 border-primary-light"
                    alt="{{ alt }}"
                    />
                </div>
                <div class="usa-card__body text-center">
                    <p>Comprehensive, science-based reports and strategic plans that
                        outline restoration goals, project funding allocations, and progress
                        assessments for ecosystem recovery along the Gulf Coast.</p>
                </div>
                <div class="usa-card__footer text-center">
                <a href="https://experience.arcgis.com/experience/5552d321b5ad4f67b7fe8d23cbc24676" class="usa-button">Our Project Dashboard</a>
                </div>
            </div>
        </li>
        <li class="usa-card grid-col flex-row">
            <div class="usa-card__container">
                <div class="usa-card__header text-center text-primary">
                    <h4 class="usa-card__heading">Resources</h4>
                </div>
                <div class="usa-card__media padding-2">
                <a
                href="/resources/reports-plans/"
                >
                <img
                    src="/img/resources.jpeg"
                    class="usa-media-block__img padding-1 margin-0 circular-image border-1 border-primary-light"
                    alt="{{ alt }}"
                    />
                </div>
                <div class="usa-card__body text-center">
                    <p>Learn about RESTORE-funded projects in an interactive map and
                        dashboard.</p>
                </div>
                <div class="usa-card__footer text-center">
                <a href="/resources/reports-plans/" class="usa-button">View Reports</a>
                </div>
            </div>
        </li>
    </ul>
</div>
