
  <div class="grid-row grid-gap">
      <!-- TODO: Break sidebar into its own shortcode or figure out how to pass params to sidebar include -->
      {% if sidenav == true %}
      <aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
        <nav>
          <ul  class="usa-sidenav">
            <li class="usa-sidenav__item">
              <a href={{page.url}} class="usa-current">{{title}}</a>
              <ul class="usa-sidenav__sublist">
                {% for item in sidenav_items %}
                <li class="usa-sidenav__item">
                  <a href={{item.url}}>
                    {{item.name}}
                  </a>
                </li>
              {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
      </aside>
      {% endif %}
      <main class="usa-layout-docs__main grid-col-auto desktop:grid-col-9 usa-prose">
        {{ content }}
      </main>
    </div>
  </div>