@use "uswds-core" as * with (
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": false,
    "mobile-lg": true,
    "tablet": true,
    "tablet-lg": false,
    "desktop": true,
    "desktop-lg": true,
    "widescreen": true,
  ),
  $theme-identifier-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-banner-max-width: "desktop-lg",
  $theme-grid-container-max-width: "desktop-lg",
  $theme-site-margins-breakpoint: "desktop-lg",
  $theme-site-alert-max-width: "desktop-lg",
  $theme-show-notifications: false,
  $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
  $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
  $theme-font-type-sans: "public-sans",
  $theme-color-base-lightest: #f9f6f3,
  $theme-color-primary: #344271,
  $theme-color-primary-light: #87a0b4,
  $theme-color-primary-dark: #1b2958,
  $theme-body-background-color: "base-lightest",
  $theme-lead-font-size: "md",
  $theme-hero-image: "../img/slider.jpg",
  $theme-link-color: "primary",
  $theme-link-visited-color: "primary",
  $theme-body-font-size: "md",
  $theme-h1-font-size: "xl",
  $theme-h2-font-size: "lg",
  $theme-h3-font-size: "sm",
  $theme-h4-font-size: "xs",
  $theme-text-measure: 6,
  $text-align-settings: (
    responsive: true,
  ),
  $background-color-settings: (
    responsive: true,
  ),
  $color-settings: (
    responsive: true,
  )
);

@forward "uswds";

@use "dunes";

img {
  height: auto;
}

.usa-prose {
  a {
    @include u-text("primary");
  }
}

@include at-media("desktop") {
  .usa-header--extended .usa-nav {
    border-top: none;
  }
}

.usa-nav__secondary-links {
  @include at-media("desktop") {
    a {
      @include u-text("white");

      &:hover {
        @include u-text("white");
      }
    }
  }
}

.usa-nav__primary button,
.usa-nav__primary > .usa-nav__primary-item > a {
  @include u-text("primary-dark");
}

.usa-menu-btn {
  @include u-bg("primary-light");
  @include u-text("primary-dark");
  @include u-text("bold");

  &:hover {
    @include u-bg("primary-dark");
    @include u-text("white");
  }
}

.usa-footer__secondary-section a {
  @include u-text("white");
  &:hover {
    @include u-text("violet-60");
  }
}
.usa-footer a {
  &:hover {
    @include u-text("violet-60");
  }
}

.usa-card__img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.usa-alert.usa-alert--info,
.usa-alert.usa-alert--info .usa-alert__body,
.usa-alert.usa-alert--info.usa-alert--slim,
.usa-alert.usa-alert--info.usa-alert--slim .usa-alert__body {
  background: transparent;
}
.usa-alert.usa-alert--info,
.usa-alert.usa-alert--info.usa-alert--slim {
  @include u-bg("yellow-5v");
  @include u-border-left("accent-warm");
}

figure {
  @include at-media("desktop") {
    &.right {
      float: right;
      margin: 1rem 0 1rem 2rem;
      max-width: 40%;
    }
    &.left {
      float: left;
      margin: 1rem 2rem 1rem 0;
      max-width: 40%;
    }
    &.center {
      margin: 1rem;
    }
  }
}

figcaption {
  @include u-font("body", "3xs");
}

.semi-transparent-background {
  background-color: rgba(27, 41, 88, 0.8); /*  #1B2958 with 80% opacity */
}

/* Table Caption */

.usa-table caption {
  background: #344271;
  color: white;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
  caption-side: top;
  margin-bottom: 0;
}
// Grants Table
.usa-table {
  margin-top: 0;
}
