@use "uswds-core" as * with (
  $theme-show-notifications: false,
  $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
  $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
  $theme-font-type-sans: "public-sans",
  $theme-color-base-lightest: #f9f6f3,
  $theme-color-primary: #344271,
  $theme-color-primary-light: #87a0b4,
  $theme-color-primary-dark: #1b2958,
  $theme-body-background-color: "base-lightest",
  $theme-hero-image: "../_img/slider.jpg"
);

@forward "uswds";

.usa-nav__secondary-links a {
  color: #ffffff;
}

.usa-nav__primary button,
.usa-nav__primary > .usa-nav__primary-item > a {
  color: #1b2958;
}

.circular-image {
  border-radius: 50%;
  overflow: hidden; /* Important to clip the image */
  /* Optional: Add a border if you want */
  /* border: 2px solid #your-border-color; */
}

/* Optional:  If the image isn't perfectly square, you might need this */
.circular-image-2 {
  width: 100%; /* Or height: 100%; depending on how your image is sized */
  height: auto; /* Or width: auto; depending on how your image is sized */
  object-fit: cover; /*  Important to maintain aspect ratio and fill the circle */
}
