@use "uswds-core" as * with (
  $theme-utility-breakpoints: (
    "card": false,
    // 160px
    "card-lg": false,
    // 240px
    "mobile": false,
    // 320px
    "mobile-lg": true,
    // 480px
    "tablet": true,
    // 640px
    "tablet-lg": false,
    // 880px
    "desktop": true,
    // 1024px
    "desktop-lg": true,
    // 1200px
    "widescreen": true,
    // 1400px
  ),
  $theme-identifier-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-banner-max-width: "desktop-lg",
  $theme-grid-container-max-width: "desktop-lg",
  $theme-site-margins-breakpoint: "desktop-lg",
  $theme-site-alert-max-width: "desktop-lg",
  $theme-show-notifications: false,
  $theme-font-path: "../node_modules/@uswds/uswds/dist/fonts",
  $theme-image-path: "../node_modules/@uswds/uswds/dist/img",
  $theme-font-type-sans: "public-sans",
  $theme-color-base-lightest: #f9f6f3,
  $theme-color-primary: #344271,
  $theme-color-primary-light: #87a0b4,
  $theme-color-primary-dark: #1b2958,
  $theme-body-background-color: "base-lightest",
  $theme-lead-font-size: "md",
  $theme-hero-image: "../img/slider.jpg",
  $theme-card-flag-min-width: "mobile-lg",
  $theme-link-color: "primary",
  $theme-link-visited-color: "primary",
  $theme-h1-font-size: "xl",
  $theme-h2-font-size: "lg",
  $theme-h3-font-size: "sm",
  $theme-h4-font-size: "xs",
  $theme-text-measure: 6,
  $text-align-settings: (
    responsive: true,
  ),
  $background-color-settings: (
    responsive: true,
  ),
  $color-settings: (
    responsive: true,
  )
);

@forward "uswds";

img {
  height: auto;
}

.usa-prose {
  a {
    @include u-text("primary");
  }
}

.usa-nav__secondary-links {
  @include at-media("desktop") {
    a {
      @include u-text("white");
    }

    .usa-nav__secondary-item + .usa-nav__secondary-item {
      border-left: 0 !important;
    }
  }
}

.usa-nav__primary button,
.usa-nav__primary > .usa-nav__primary-item > a {
  @include u-text("primary-dark");
}

.usa-menu-btn {
  @include u-bg("primary-light");
  @include u-text("primary-dark");
  @include u-text("bold");

  &:hover {
    @include u-bg("primary-dark");
    @include u-text("white");
  }
}

.usa-identifier__logo {
  width: 3rem;
}

.usa-footer__logo > div {
  @include u-margin-y(1);

  @include at-media("desktop") {
    @include u-margin-y(0);
  }
}

.usa-footer__secondary-section a {
  @include u-text("white");
}

.no-hover,
.no-hover:hover,
.no-hover:focus,
.no-hover:active {
  background-color: inherit !important;
  color: #ffffff !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.usa-button_hero,
.usa-button_hero:hover,
.usa-button_hero:focus,
.usa-button_hero:active {
  background-color: "primary";
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: none;
}

.usa-card__img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

figure {
  @include at-media("desktop") {
    &.right {
      float: right;
      margin: 1rem 0 1rem 2rem;
      max-width: 40%;
    }
    &.left {
      float: left;
      margin: 1rem 2rem 1rem 0;
      max-width: 40%;
    }
    &.center {
      margin: 1rem;
    }
  }
}

figcaption {
  @include u-font("body", "3xs");
}

/* Table Caption */

.usa-table caption {
  background: #344271;
  color: white;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;
  caption-side: top;
  margin-bottom: 0;
}
// Grants Table 
.usa-table {
  margin-top: 0;
}
